{% extends "base.html" %}

{% block title %}濕度查詢{% endblock %}
{% block headmessage %}
<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
  function oAuth2() {
      var URL = 'https://notify-bot.line.me/oauth/authorize?';
          URL += 'response_type=code';
          URL += '&client_id=XFVJJOuT8BH0QjwzYxOkfe'; 
          URL += '&redirect_uri=http://127.0.0.1:8000/notice/';
          URL += '&scope=notify';
          URL += '&state=NO_STATE';
          window.location.href = URL;
        }
</script>
</head>
<body>
    <button onclick="oAuth2();"> 連結到 LineNotify 按鈕 </button>
</body>
{% endblock %}