{% extends "base.html" %}

{% block title %}溫度查詢{% endblock %}
{% block headmessage %}
<center>
<div class="p-3 mb-2 bg-success bg-gradient text-white">
  <h2><td><span style="font-family:DFKai-sb">溫度偵測</span></td><h2>
</div>{% endblock %}
{% block main %}
<center>
    
    <br><br><iframe width="40%" height="400"  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRU46SBf2CRhDdrBBITDUkPTgvluLC9J4kj4qOlXfA3ikhG0zhEvezrHR9ZljtVhwQo63D2ni2QAQDQ/pubhtml?widget=true&amp;headers=false"></iframe>

</center>
{% endblock %}