{% extends "base.html" %}

{% block title %}預測查詢{% endblock %}
{% block headmessage %}
<center>
<div class="p-3 mb-2 bg-success bg-gradient text-white">
  <h2><td><span style="font-family:DFKai-sb">輸入數值!  讓我們幫你預測</span></td><h2>
</div>{% endblock %}
{% block main %}
<head>
  <script>
   function predict() {
   
       first=document.getElementById("first"); 
       x1=parseFloat(first.value); 
       second=document.getElementById("second");
       x2=parseFloat(second.value);
       
       y=(-0.988)*x1+0.038*x2+29.467; 

       if (y<=1) {
                result=document.getElementById("result");
                result.innerHTML="迅速去準備水，灌!溉!它!";
                 }
       else {
                result=document.getElementById("result");
                result.innerHTML="預計約   " + Math.round(y) + "   天後須澆水。";
               }
       
      
       

   }
  </script>
 </head>
<br><br>
<body bgcolor="#77DDFF">
 <center>
 <h3><span class="badge bg-secondary text-dark">預測植物乾燥天數</span></h3><br><br>

 <form>
  請輸入溫度：
   <input type="text" id="first"  name="first" /> °C <p><br><br>
  請輸入濕度：
  <input type="text"  id="second" name="second" /> % <p>

  <input type="button" class="btn btn-outline-danger" value="預測" onClick="predict();" /> 
 </form>
 <p>
 <h4><div class="border border-info rounded-pill link-primary" id="result">預估顯示</div><h4>
 <p>
 </center>
</body>
<br><br><br>
<center>
<button type="button" class="btn btn-primary btn-lg">現在立刻馬上澆水</button>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
  function oAuth2() {
      var URL = 'https://notify-bot.line.me/oauth/authorize?';
          URL += 'response_type=code';
          URL += '&client_id=XFVJJOuT8BH0QjwzYxOkfe'; 
          URL += '&redirect_uri=http://127.0.0.1:8000/Watering/';
          URL += '&scope=notify';
          URL += '&state=NO_STATE';
          window.location.href = 'https://bold-station-865085.postman.co/workspace/notice~7d72d93c-13cb-42e9-9198-c0d9eeff8f4e/request/17190427-6d65ca50-4f48-487f-af02-361c14a74988';
        }
</script>
</head>
<button type="button" class="btn btn-primary btn-lg" onclick="oAuth2();">傳送Line通知(notify➜send)</button>
</center>
{% endblock %}